<header>
    <section class="nav-bar">
        <img src="/images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre" class="logoML">
        <!--Lugar para barra de busqueda-->
        <!--<div class="buscador"><input type="text" placeholder="Buscar productos, marcas y más" name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>-->
        <form class="buscador" action="#">
            <input type="text" placeholder="Buscar productos,marcas y más" name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        <h2 class="copy-header">
            <!--iconito de mano--><i class="fas fa-hand-holding-usd"></i>Sistema de administración de productos
        </h2>
    </section>

    <section>
        <nav class="barraDeNav">
            <ul class="nav-a">
                <li><a href="/">Productos</a></li>
                <li><a href="/products/create">Nuevo</a></li>
                <li><a href="/user/adminUser">Administrador de usuarios</a></li>
            </ul>
            
            <ul class="nav-b">
                <li><a href="/user/Register">Creá tu cuenta
                        <!--iconito de registro-->
                        <i class="far fa-id-card"></i>
                    </a></li>
                <li><a href="/user/Login">Ingresá
                        <!--iconito de ingreso-->
                        <i class="fas fa-sign-in-alt"></i>
                    </a></li>
            </ul>
        </nav>
    </section>
    <div class="burger-menu" class="menu"><i class="fa fa-bars burger"></i>
</header>