<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %>

<body>

    <%- include('partials/header') %>

    <main>
        <form action="/" method="GET">
            <div class="contenedor1">
                <label for="nombre"></label>
                <input type="text" placeholder="Nombre de usuario" name="nombreUsuario" id="nombreUsuario">
                <label for="contraseña"></label>
                <input type="password" placeholder="Contraseña" name="password" id="password">
                <div class="contenedor7">
                    <label for="submit" method="GET"></label>
                    <button type="submit">Enviar</button>
                </div>
            </div>
        </form>
    </main>
   
    <%- include('partials/footer') %>

</body>

</html>